.static-page {
  nav {
    #relaypadLogo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .content {
    margin: 0 auto;
    padding: 3rem 0;
    max-width: 800px;

    &.with-navbar {
      margin-top: 2rem;
    }

    p {
      font-size: $type-size-4;
    }
  }

  .footerLinks {
    text-align: center;
    color: $text-muted-color;
    font-size: $type-size-6;

    a {
      margin-left: $spacer;
      color: $text-muted-color;

      &:hover {
        color: $link-color;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .static-page {
    nav {
      min-height: 50px;

      #notebookBtnLink {
        display: none;
      }
    }

    .content {
      padding: 1.5rem 1.5rem 0 1.5rem;
    }
  }
}
